path/to/large/file filter=lfs diff=lfs merge=lfs -text
C:/Users/User/Desktop/Github_Files/Metabolites-Visualisation/.RDataTmp filter=lfs diff=lfs merge=lfs -text
*.RDataTmp filter=lfs diff=lfs merge=lfs -text
